@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
    background: #111111;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Spinnaker', sans-serif;
}

p,span,a{
    font-family: 'Montserrat', sans-serif;
}

a[ng-reflect-router-link] {
    cursor: pointer;
}

main{
    margin-top: 15vh;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px #111111 inset !important;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
}


html {
    scroll-behavior: smooth;
}

@media(min-width:540px){
    main{
        margin-top: 15vh;
    }
}


